In [1]:
import pandas as pd

In [3]:
# How to Create a Pandas DataFrame
# From a Dictionary
data = {
    'Name': ['joy', 'toy', 'roy'],
    'Age': [25, 30, 22],
    'Country': ['USA', 'Canada', 'UK']
}
df = pd.DataFrame(data)
print(df)

  Name  Age Country
0  joy   25     USA
1  toy   30  Canada
2  roy   22      UK

In [4]:
# From a List of Dictionaries
data = [
    {'Name': 'joy', 'Age': 25, 'Country': 'USA'},
    {'Name': 'toy', 'Age': 30, 'Country': 'Canada'},
    {'Name': 'roy', 'Age': 22, 'Country': 'UK'}
]
df = pd.DataFrame(data)
print(df)

  Name  Age Country
0  joy   25     USA
1  toy   30  Canada
2  roy   22      UK

In [6]:
# From a NumPy Array
import numpy as np
data = np.array([
    ['joy', 25, 'USA'],
    ['toy', 30, 'Canada'],
    ['roy', 22, 'UK']
])
df = pd.DataFrame(data, columns=['Student_Name', 'Age', 'Country'])
print(df)

  Student_Name Age Country
0          joy  25     USA
1          toy  30  Canada
2          roy  22      UK

In [9]:
# From an Existing DataFrame: 
# Assuming 'df' is an existing DataFrame
new_df = df[['Student_Name', 'Age','Country']]  # Creating a new DataFrame with only 'Name' and 'Age' columns
print(new_df)

  Student_Name Age Country
0          joy  25     USA
1          toy  30  Canada
2          roy  22      UK

In [10]:
# How to Select an Index or Column from a Pandas DataFrame
data = {
    'Name': ['joy', 'toy', 'roy'],
    'Age': [25, 30, 22],
    'Country': ['USA', 'Canada', 'UK']
}

df = pd.DataFrame(data)

# Select a single column
name_column = df['Name']
print(name_column)

# Select multiple columns
name_age_columns = df[['Name', 'Age']]
print(name_age_columns)

0    joy
1    toy
2    roy
Name: Name, dtype: object
  Name  Age
0  joy   25
1  toy   30
2  roy   22

In [11]:
# Selecting Rows by Index:
# Using .loc to select rows by label
first_row = df.loc[0]
print(first_row)

# Using .iloc to select rows by integer index
second_row = df.iloc[1]
print(second_row)

Name       joy
Age         25
Country    USA
Name: 0, dtype: object
Name          toy
Age            30
Country    Canada
Name: 1, dtype: object

In [12]:
# Selecting Rows and Columns Simultaneously:
# Using .loc to select specific rows and columns by label
specific_row_col = df.loc[1, 'Name']
print(specific_row_col)

# Using .iloc to select specific rows and columns by integer index
specific_row_col_iloc = df.iloc[0, 1]
print(specific_row_col_iloc)

toy
25

In [13]:
# Setting Index:
df_with_index = df.set_index('Name')
print(df_with_index)

      Age Country
Name
joy    25     USA
toy    30  Canada
roy    22      UK

In [14]:
# Resetting Index:
df_reset = df_with_index.reset_index()
print(df_reset)

  Name  Age Country
0  joy   25     USA
1  toy   30  Canada
2  roy   22      UK

In [18]:
# How to Add an Index, Row or Column to a Pandas DataFrame

# Creating a DataFrame
data = {
    'course': ['Java', 'Php', 'Python'],
    'Topic': ['variable','Datatype','Keyword'],
    'Unit': [102,304,450]
}
index_data = ['A','B','C']
df = pd.DataFrame(data)
print(df)

   course     Topic  Unit
0    Java  variable   102
1     Php  Datatype   304
2  Python   Keyword   450

In [22]:
# Adding an Index
df_with_index = df.set_index('Unit')
print("DataFrame with Custom Index:")
print(df_with_index)

DataFrame with Custom Index:
      course     Topic
Unit
102     Java  variable
304      Php  Datatype
450   Python   Keyword

In [24]:
# change index 
df = pd.DataFrame(data,index=[index_data])
print(df)

   course     Topic  Unit
A    Java  variable   102
B     Php  Datatype   304
C  Python   Keyword   450

In [31]:
# Adding a Column
df['fees'] = [1200, 1700, 1900]
print("\nDataFrame with New Column:")
print(df)

DataFrame with New Column:
   course     Topic  Unit  fees
A    Java  variable   102  1200
B     Php  Datatype   304  1700
C  Python   Keyword   450  1900

In [36]:
# Adding Rows to a DataFrame
# Displaying the original DataFrame
print("Original DataFrame:")
print(df)

# Adding a New Row
new_row = {'course': 'c++', 'Topic': 'Inheritance', 'Unit':205,'fees':9630}
df = df.append(new_row, ignore_index=True)

# Displaying the DataFrame after adding the new row
print("\nDataFrame after Adding New Row:")
print(df)

Original DataFrame:
   course        Topic  Unit  fees
0    Java     variable   102  1200
1     Php     Datatype   304  1700
2  Python      Keyword   450  1900
3     c++  Inheritance   205  9630
4     c++  Inheritance   205  9630
5     c++  Inheritance   205  9630

<ipython-input-36-bd5418cf7cb3>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

DataFrame after Adding New Row:
   course        Topic  Unit  fees
0    Java     variable   102  1200
1     Php     Datatype   304  1700
2  Python      Keyword   450  1900
3     c++  Inheritance   205  9630
4     c++  Inheritance   205  9630
5     c++  Inheritance   205  9630
6     c++  Inheritance   205  9630